body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
/*-------------------------Home page-------------------------*/

.homeContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.navContainer{
  width: 100%;
    height: 12%;
    display: flex;
    flex-direction: row;
    background-color: rgba(45, 50, 141, 1);

}